@media (min-width: 1400px) {
  .container-xl {
    max-width: 1620px !important;
  }
}
.spokeborder {
  border-bottom: 5.7px solid #fe8a01;
}
.width {
  width: -webkit-fill-available;
}
.content_outer_box {
  bottom: 0;
  top: 0;
  color: #fff;
}
.content,
.content_inner-row {
  height: -webkit-fill-available;
}
section .content_outer_box_finace h1 {
  font-weight: 700;
  font-size: 28.5px !important;
  line-height: 32px !important;
  color: #fff;
}
section .sub-banner-heading8 {
  line-height: 125% !important;
  font-size: 36px;
  color: #fff;
  font-weight: 500;
}
.section_2 .bg_org p {
  width: fit-content;
  background: #f97a04;
  border-radius: 50px;
  line-height: 24px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}
.section_2 {
  background-image: url("https://rowthtech.s3.amazonaws.com/Ellipse.png");
}
.section_2 h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.section_2 p {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: justify;
}
.financial_services h6 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.section_3 .sec_2_heading h2 {
  font-size: 54px;
  font-weight: 600;
}
.section_3 .sec_2_heading p {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}
.finace1 h5,
.finace3 h2,
.section_38 h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}
.section_3 p,
.section_38 p {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}
.section_3 h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.finace1 p,
.finace3 p,
.portfolio_icons p {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
.custom_width_finance {
  height: 18rem !important;
  width: 24rem !important;
  object-fit: scale-down;
}
.borderport {
  border-bottom: 5px solid #fe8a01;
  display: inline-block;
}
.finace3 p {
  text-transform: capitalize;
}
.finace4 h3,
.finance6 p {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.finace4 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.finace5 {
  background: #f3f3f3;
  border-radius: 30px;
}
.finace5 h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.finace5 p,
.finance59 h6 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
.financimg {
  width: 45px;
}
h5#hi::before {
  content: "";
  width: 96%;
  height: 5px;
  background: #fe8a01;
  position: absolute;
  bottom: -24px;
  left: 51%;
  z-index: 1;
  transform: translateX(-53%);
}
@media only screen and (min-width: 360px) and (max-width: 769px) {
  .banner-heading,
  .content h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .content h1 {
    line-height: 98%;
    color: #000;
    border-bottom: none;
  }
  .width11 {
    width: 100%;
    border-radius: 4%;
  }
  .content h4 {
    font-weight: 500;
    font-size: 13px;
    line-height: 98%;
  }
  .imgheight img {
    height: 10rem;
  }
  .section_2 .bg_org p {
    font-size: 12px;
    line-height: 98%;
  }
  .finance8 h6 {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
  }
  .section_2 h4 {
    font-size: 18px !important;
    line-height: 98%;
  }
  .section_2 p {
    font-size: 12px;
    text-align: justify;
    line-height: 15px;
    font-weight: 400 !important;
  }
  .hero-img1-1 {
    height: 30vh;
  }
  .hero-img1-1 img {
    height: -webkit-fill-available;
  }
  .banner-heading {
    line-height: 98%;
  }
  .banner-heading81 {
    font-weight: 700;
    font-size: 21px !important;
    line-height: 98%;
  }
  section .sub-banner-heading8 {
    line-height: 16px !important;
    font-size: 13px !important;
    font-weight: 500;
    color: #000;
  }
  .financial_services h6 {
    font-size: 10px;
  }
  .bordrspoke {
    border-bottom: 3px solid #fe8a01;
  }
  .section_3 h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 98%;
  }
  .section_3 h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
  }
  .section_3 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
  .section_4 h5 {
    font-size: 20px;
    text-align: center;
    line-height: 98%;
  }
  .finace1 p {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
  }
  .finace1 h5,
  .section_38 h2 {
    font-size: 16px;
    font-weight: 600;
  }
  .finace1 h5 {
    line-height: 18px;
  }
  .section_38 h2 {
    line-height: 100%;
  }
  .section_38 p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .portfolio_icons p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: capitalize;
  }
  .borderport {
    border-bottom: 4px solid #f97a04;
  }
  .financebg {
    background: #f4f4f4;
    border-radius: 10px;
  }
  .financebgclr {
    background: #f4f4f4;
    border-radius: 11px;
  }
  .leftImg_finance {
    height: 13rem !important;
    object-fit: scale-down;
  }
  .icons_widthFinance {
    width: -webkit-fill-available;
    height: 3rem;
    object-fit: scale-down;
  }
  .mob_width1 {
    width: 50px;
  }
  .mob_width img {
    width: 40px;
  }
}
.heading_ParentFontcontent_Finance {
  font-size: 20px !important;
}
.banner-heading1 {
  font-size: 1.5em !important;
}
.sub-banner-heading1 {
  font-size: 16px !important;
  line-height: 18px;
}
.leftImg_finance {
  height: 20rem;
  object-fit: scale-down;
}
@media (min-width: 1300px) and (max-width: 1900px) {
  .heading_ParentFontcontent_Finance {
    font-size: 16px !important;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .heading_ParentFontcontent_Finance {
    font-size: 14px !important;
  }
}
@media (min-width: 1300px) and (max-width: 1900px) {
  .heading_ParentFontcontent_Finance {
    font-size: 13px;
  }
  .taximg img {
    width: 48px !important;
  }
  .financimg img {
    width: 48px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .heading_ParentFontcontent_Finance {
    font-size: 13px;
  }
  .taximg img {
    width: 60px !important;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .heading_ParentFontcontent_Finance {
    font-size: 10px;
  }
  .taximg img {
    width: 60px !important;
  }
  .finance59 h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    padding-left: 16.9px;
  }
  .mob_width1 {
    width: 51.5px !important;
  }
  .icons_widthFinance {
    width: 52.5px;
  }
  .width1 {
    width: 50px;
    transform: translate(-13px, -68px);
  }
  .tcaps {
    width: 40px;
    transform: translate(-10px, 3px);
  }
}
