* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: white;
  overflow-x: hidden !important;
} 
.main {
  overflow-x: hidden !important; 
}
.input {
  position: relative;
  /* appearance: none; */
  /* border: none; */
  width: 15px;
  /* Adjust width as needed */
  height: 15px;
  /* Adjust height as needed */
  border-radius: 50%;
  /* outline: none; */
  cursor: pointer;
}

.input::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid black !important;
  margin: 2px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: waveShadow 2s linear infinite;
}



@keyframes waveShadow {
  0% {
    box-shadow: 0 0 0 0 black;
  }

  50% {
    box-shadow: 0 0 20px 10px rgba(90, 88, 88, 0.2);
  }

  75% {
    box-shadow: 0 0 20px 10px rgba(19, 18, 18, 0.2);
  }

  100% {
    box-shadow: 0 0 0 0 black;
  }
}

.bg-main-img {
  filter: brightness(100%);
  background-image: url("https://rowthtech.s3.amazonaws.com/main.png");
  background-repeat: no-repeat;
  width: 100%;
}

.bg-op {
  background-color: rgba(0, 1, 45, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* font size of all heading */
.text-size-header {
  font-size: 22px !important;
}

/* font size of all paragraph */
.text-size-paragraph {
  font-size: 15px !important;
  text-align: justify !important;
}

.text-size {
  font-size: 10px;
}

.form-floating label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.37px;
}

.printimg {
  width: 100%;
  height: 90%;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

/* language hover*/
.language-card:hover {
  background-color: #031b4e;
  /* Change background color on hover */
}

.language-card:hover .text {
  color: white;
  /* Change text color on hover */
}

.form-floating>label {
  padding-left: 0px !important;
}

.main-header {
  background-color: #f9a004;
  font-size: 23px !important;
  font-weight: 700;
  width: 60%;
  border-radius: 10px;
}

.validating {
  margin-left: 22%;
}

.study-class {
  width: 50%;
}

.hover-develop {
  transition: background-color 0.3s ease;
}

.hover-develop-red {
  background-color: #f9a004 !important;
  /* Change to red upon hover */
  transition: background-color 0.3s ease;
  border-radius: 10px !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* small card hover css  */
.hover-container {
  position: relative;
}

.hover-content {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the transparency as needed */
  opacity: 0;
  /* Initially invisible */
  transition: opacity 0.3s ease;
}

.hover-content:hover .hover-overlay {
  opacity: 1;
  /* Make overlay visible on hover */
  background-color: #f9a004;
  border-radius: 10px !important;
}

.animated-icons {
  animation: slideLeftToRight 1s ease-in-out;
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-50px);
    /* Initial position off-screen to the left */
    opacity: 0;
    /* Start invisible */
  }

  100% {
    transform: translateX(0);
    /* Move to the original position */
    opacity: 1;
    /* Fade in */
  }
}
/* 5 animate div  */
.hover-effect {
  background-color: white;
  color: black;
}

.hover-effect:hover {
  background-color: #f9a004;
  color: white;
}

.iconsmall {
  width: 50px;
  height: 50px;
}

.text-transparent {
  color: linear-gradient(180deg,
      rgba(187, 187, 187, 0.3) 26.39%,
      rgba(102, 102, 102, 0) 73.61%);
  font-size: 50px;
  opacity: 0.1;
}
@media only screen and (max-width: 576px) { /* Adjust the max-width as needed */
  .hidden-sm {
      display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
  .header-form {
    margin-top: 10% !important;
    margin-bottom: 10% !important;
    width: 100% !important;
    padding: 0px !important;
  }

  .white-div {
    margin-top: 20px !important;
  }

  .bg-main-img {
    width: 100px;
  }

  /* .Consultations {
    position: unset !important;
  } */

  .validating {
    display: flex;
    justify-content: end;
    margin-left: 0% !important;
  }

  .main-header {
    font-size: 11px !important;
    padding: 3px 4px !important;
  }

  .text-size-header {
    font-size: 14px !important;
text-align: center !important;

  }

  .text-size-paragraph {
    font-size: 10px !important;
    text-align: justify !important;
  }

  .study-class {
    width: 100%;
  }
}

.bg2-image {
  background-image: url("https://rowthtech.s3.amazonaws.com/img3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.animate-left-to-right {
  animation: slideFromLeft 10s ease;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.PhoneInputInput {
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid black !important;
}

.PhoneInputInput:focus {
  border: none !important;
  outline: none !important;
  border-bottom: 1px solid black !important;
}

.inputs {
  outline: none !important;
  border: 0 !important;
  font-size: 14px;
}

.only {
  width: 40px;
  height: 40px;
  margin-left: 60px !important;
  background-color: #f9a004;
}

.inputs-2 {
  outline: none;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* profile image */
.bg-images {
  background-image: url("https://rowthtech.s3.amazonaws.com/profile2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
}

.bg-imagess {
  background-image: url("https://rowthtech.s3.amazonaws.com/profile1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
}

/* form button */
.button-back {
  background-color: #031b4e !important;
  color: white !important;
}

.bg-imageses {
  background-image: url("https://rowthtech.s3.amazonaws.com/allteams.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
}

.card1 {
  float: left;
  margin-top: 25%;
}

.NEW {
  background-color: #f9a004;
  width: 210px;
}

.NEW input {
  margin: 0 10px;
}

.paragarphs {
  height: 200px;
}

.mooovers {
  height: 450px;
  width: 100%;
}

.carousel-inner {
  border-radius: 10px !important;

}

.bg-movers {
  background-image: linear-gradient(to right, #7924BA, #310056);
  height: 450px !important;

}

.bg-endoorphin {
  background-image: linear-gradient(to right, #DEB764, #B6841A);
  height: 450px !important;
}

.bg-teletek {
  background-image: linear-gradient(to right, #C8DC6D, #AACF00);
  height: 450px !important;
}

.teleteklogo {
  width: 14% !important;
  height: 14% !important;
}

.tele_hieght {
  width: 79%;
}

.bg-phoneman {
  background-image: url("https://rowthtech.s3.amazonaws.com/phoneman.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100% !important;
  height: 40vh !important;
}

.flip-box {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  /* Add perspective for 3D effect */
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #f8f9fa;
  /* Adjust background color */
  color: #000;
  /* Adjust text color */
}

.flip-box-back {
  background-color: #343a40;
  /* Adjust background color */
  color: #fff;
  /* Adjust text color */
  transform: rotateY(180deg);
}

/* Adjust image sizes */
.profile-img,
.man-img {
  max-width: 100%;
  height: auto;
}

.button-brd {
  font-size: 12px !important;
}

.button-brd:focus {
  border-bottom: 4px solid #f9a004 !important;
  background-color: lightgrey !important;
}

.lang {
  background-color: #031b4e;
  color: white;
}

.icons-soft {
  width: 30px;
  height: 30px;
}