.automotive1 h1{
font-size:22px;
line-height:98%
}
.grid_text{
flex:0 0 auto;
width:30%
}
.automotive3 p,.automotive4 p,.automotive7 p{
font-weight:500;
font-size:17px;
line-height:24px
}
.automotive4 h1,.automotive7 h1{
font-weight:700;
font-size:18px;
line-height:24px
}
.text_center_auto{
font-size:16px!important
}
.automotive2 .box1_heading,.automotive6 h1{
font-weight:600;
font-size:22px;
line-height:98%
}

.Automotive9 .inner_headings{
font-weight:500;
font-size:1.5em;
line-height:36px
}
.Automotive9 .inner_para{
font-weight:500;
font-size:1em;
line-height:27px
}
.text_heading_one{
font-size:22px;
font-weight:600;
line-height:35.04px
}
.text_heading_two{
font-size:17px;
font-weight:500;
line-height:24px
}
.texted{
font-size:18px;
font-weight:700;
line-height:24px
}
.text_heading_three{
font-size:17px;
font-weight:500;
line-height:24px
}
.banner-heading1_one{
font-size:2em;
font-weight:800
}
@media only screen and (min-width:300px) and (max-width:768px){
.automotive1 .banner-heading1{
font-weight:700;
font-size:17px;
line-height:98%
}
.image_sizes {
    width: 3rem;
  }
  .text_heading_one{
    line-height:24.04px
    }
.sub_banner_heading{
font-size:13px!important;
font-weight:500;
line-height:16px!important
}
.org_text{
border-bottom:3px solid #fe8a01!important
}
.backgroung-color-solutions{
background-color:#fe8a01;
border-radius:15px
}
.box1_subheading,.text_heading_two{
font-size:12px;
font-weight:500;
text-align:justify
}

.Automotive9 .inner_headings,.automotive3 h1{
font-weight:600;
font-size:20px;
line-height:98%
}
.automotive3 p{
font-weight:500;
font-size:10px;
line-height:12px;
text-align:justify
}
.automotive4 h1{
font-weight:600;
font-size:20px;
line-height:98.5%
}
.automotive4 p{
font-weight:500;
font-size:10px;
line-height:14px;
text-align:justify
}
.automotive7 h1{
font-weight:600;
font-size:20px;
line-height:19.7px
}
.automotive7 p{
font-size:10px;
line-height:15px;
text-align:justify
}
.text_heading_three{
font-size:10px;
font-weight:500;
text-align:justify
}
.Automotive9 .inner_para{
font-weight:500;
font-size:15px;
line-height:22px
}

}
.custom_image_width{
height:23em;
object-fit:scale-downs
}
@media (min-width:1300px) and (max-width:1700px){
.text_center_auto{
font-size:15px
}
.custom_image_width{
height:282px;
object-fit:scale-down
}

}
@media (min-width:1000px) and (max-width:1300px){
.text_center_auto{
font-size:13px
}
.custom_image_width{
height:291px;
object-fit:scale-down
}

}
@media (min-width:769px) and (max-width:1000px){
.text_center_auto{
font-size:10px
}
.custom_image_width{
height:300px;
object-fit:scale-down
}

}
