.grey-line::after,
.grey-line::before {
  content: "";
  width: 13px;
  background: #ffebd3;
}
.grey-line::after,
.grey-line::before,
.language_img,
.language_img1 {
  position: absolute;
  z-index: -1;
}
@media (min-width: 1400px) {
  .container-xl {
    max-width: 1526px !important;
  }
}
header {
  border-radius: 0 0 50px 50px;
}
.org_text65 {
  color: #b0b0b0 !important;
}
.sub_banner_heading_since {
  font-weight: 600 !important;
}
.navbar {
  text-transform: uppercase;
}
.navbar ul {
  width: 70%;
}
.custom-container {
  margin-top: 10;
}
.content_outer_box {
  bottom: 0;
  top: 0;
  color: #681111;
}
.content_outer_box2-1 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 26px;
}
section .content_outer_box2-1 h1 {
  font-size: 22px;
  line-height: 25px;
  color: #fff;
  font-family: "system-ui";
  font-weight: 500;
}
section .content_outer_box2-1 h1 .bold-text2 {
  font-weight: 800 !important;
}
section .sub-banner-heading2 {
  color: #fff;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400 !important;
}
.service-section-row2 .service-content2 h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 2px;
}
.service-section-row2 .service-content2 h2 .orange-heading2 {
  color: #fe8a01;
  line-height: 43px;
}
.service-section-row2 .service-content2 p {
  font-weight: 400;
  color: #000;
  font-size: 17px !important;
  line-height: 24px;
  text-align: justify;
}
.company_services .bottom_line,
.service-section-row2 .col-11 .content-wrapper-row {
  border-bottom: 3px solid #000;
}
.bordertailer {
  border-bottom: 3px solid #000 !important;
}
.content-wrapper-row {
  padding: 5rem 0 !important;
}
.company_services .img_box {
  background: #ffebd3;
  border-radius: 15px;
}
.product_img img {
  width: 100%;
}
.lngimg {
  width: 33rem;
  transform: translate(543px, 80px);
}
.company_services h4 {
  font-weight: 600;
  font-size: 18px;
}
.company_services p {
  font-family: Poppins;
  font-size: 17px !important;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: justify !important;
}
.grey-line::before {
  top: 0;
  left: 4%;
  height: 80%;
}
.grey-line::after {
  top: 94%;
  right: 4%;
  height: 78%;
  transform: translateY(-100%);
}
.company_services .col-9 .text {
  text-align: right;
}
.company_services {
  padding: 5rem 0;
}
.serv1 {
  width: 70% !important;
}
.product_section .col-4 h5 {
  font-size: 22px;
  font-weight: 600;
}
.product_section .col-4 p {
  font-size: 20px;
  line-height: 98%;
}
.product_section h2 {
  font-weight: 500;
  color: #000;
  line-height: 26.04px;
  font-size: 22px;
}
.product_section h2 .orange_border2-1 {
  border-bottom: 4px solid #fe8a01;
  display: inline-block;
  font-weight: 700;
}
.qualitystyle2-1 h5 {
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  font-size: 18px;
}
.qualitystyle2-1 p {
  font-family: Poppins;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  font-size: 17px !important;
  text-align: justify;
}
.devloper_section h2 {
  color: #000;
  font-weight: 700;
  line-height: 31px;
  font-size: 22px;
}
.devloper_section .para-11-1 {
  color: #fe8a01;
  line-height: 11.36px;
  font-weight: 400;
  font-size: 22px;
}
.devloper_section .para-22-1 {
  font-size: 17px !important;
  font-weight: 400;
  line-height: 23.52px;
  letter-spacing: 0;
  text-align: left;
}
.clight {
  color: #525252;
}
.clight1 {
  color: #676767;
}
.clight2 {
  color: #7b7b7b;
}
.language-section h5 {
  line-height: 28.2px;
  font-weight: 600;
  border-top: 3px solid #fe8a01;
  border-bottom: 3px solid #fe8a01;
  display: inline;
  font-size: 18px;
}
.language-section ul li {
  font-weight: 500;
  padding: 0.3rem 0;
  line-height: 25.28px;
  font-size: 16px;
}
.bordr-btm2-1 {
  border-bottom: 3px solid #000;
  padding-bottom: 110px !important;
}
.language_img {
  top: 0;
  left: 197px;
  bottom: 0;
  right: 0;
  transform: translate(-27.5rem, -25rem);
  width: 52rem;
}
.language_img1 {
  top: 0;
  left: 183px;
  bottom: 0;
  right: 0;
  transform: translate(21.5rem, -32rem);
  width: 51rem;
}
.banner_head,
.management_BoxParentFont {
  font-size: 25px;
}
.Custom_texthead {
  font-size: 24px;
}
.zick_zackBoxParent {
  font-size: 22px;
}
.languages_divParent,
.link_container a,
.navbar .nav-item a,
.sub_HeadingText {
  font-size: 20px;
}
.eclipse {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
  .banner-heading2 {
    font-size: 20px !important;
    line-height: 19.6px;
    font-weight: 500 !important;
  }
  img.service_img_mlti {
    width: 3rem !important;
    height: 3rem !important;
  }
  #width,
  .imgg img {
    width: 100%;
  }
  .about .banner-heading {
    font-size: 18px !important;
    border-bottom: none !important;
    color: #000 !important;
    line-height: 18px !important;
  }
  .sub_banner_heading2 {
    font-size: 13px !important;
    line-height: 98%;
    font-weight: 700 !important;
  }
  .front_end_size {
    font-size: 12px !important;
    text-align: start;
  }
  .add_all_launguage {
    font-size: 10px !important;
    line-height: 14px !important;
    white-space: normal !important;
    text-align: start;
  }
  .multiple_test {
    font-size: 6px !important;
    line-height: 9px !important;
  }
  .company_services_row {
    justify-content: space-around;
  }
  .linear-gradient-mobile {
    border-radius: 30px;
    z-index: 111;
  }
  .about .sub_banner_heading {
    font-size: 12px !important;
    color: #000;
    font-weight: 400 !important;
    line-height: 120.4% !important;
  }
  .grey-line::after,
  .grey-line::before,
  .show_desktop {
    display: none;
  }
  .show_mobile {
    display: block;
  }
  .content_outer_box2-1 {
    position: relative !important;
    border-radius: 13px !important;
  }
  .rowthtech {
    padding: 0 8px;
    font-size: 12px;
  }
  .org_text {
    border-bottom: 3px solid orange;
  }
  .border-btm,
  .bordr-btm2-1 {
    border-bottom: 2px solid #000;
  }
  header {
    border-radius: 0;
    left: 0;
    right: 0;
    z-index: 999;
    position: sticky;
    top: 0;
    box-shadow: rgb(0 0 0) 0 15px 20px -20px;
  }
  .nav_pos {
    position: relative;
  }
  .nav_des {
    position: absolute;
    top: 0;
    z-index: 99;
    background: #f5f5f5;
    transform: translate(0, 49px);
    box-shadow: rgb(0 0 0) 0 25px 20px -20px;
  }
  .rowth_logo {
    width: 136px;
    height: 36px;
  }
  .btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section .content_outer_box2-1 h1 {
    font-size: 20px !important;
    line-height: 19.6px !important;
  }
  .bgmobile {
    display: flex;
    background-size: cover;
  }
  section .sub-banner-heading2 {
    font-size: 14px !important;
    line-height: 12.05px !important;
  }
  #width {
    height: 100%;
    border-radius: 10px;
  }
  .hero-img {
    border-radius: 20px;
    height: 11rem !important;
  }
  .text {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #fe8a01;
  }
  .orange-heading2 {
    font-size: 23px;
    white-space: nowrap;
    color: #000 !important;
  }
  .devloper_section .para-11-1,
  .size,
  .text-1,
  ul li {
    color: #000;
  }
  .proff {
    text-align: center !important;
  }
  .service-section-row2 .service-content2 p {
    font-size: 13px !important;
    line-height: 18px !important;
    font-weight: 400;
  }
  .customimg {
    width: 20rem;
  }
  .bordr-btm2-1 {
    padding-bottom: 36px !important;
  }
  .imgwidth {
    width: 43px;
    height: auto;
  }
  #imgwidth {
    height: 6rem !important;
  }
  .company_services .img_box {
    text-align: center;
    background: #e3e3e3;
    border-radius: 7px;
    width: 5.5rem;
  }
  .company_services h4 {
    font-size: 14px !important;
    font-weight: 600;
    line-height: 13.44px;
  }
  .company_services p {
    font-size: 12px !important;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
  }
  .pics1 {
    width: 53px;
  }
  .product_section h2 {
    font-size: 25px;
    font-weight: 700;
    color: #fe8a01;
    line-height: 22px;
  }
  .devloper_section .para-11-1,
  .qualitystyle2-1 h5 {
    font-size: 18px;
    line-height: 98%;
    font-weight: 600;
  }
  .qualitystyle2-1 p {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 15px;
  }
  .fontsize2 {
    font-size: 12px;
  }
  .product_section h2 .orange_border2-1 {
    border-bottom: none !important;
    color: #000 !important;
  }
  .devloper_section h2 {
    font-size: 22px;
  }
  .devlops {
    border-bottom: 3px solid #fe8a01 !important;
    display: inline-block !important;
  }
  .hire_imgs::after {
    content: "";
    background-image: url("https://rowthtech.s3.amazonaws.com/Group5870.png");
    background-repeat: no-repeat;
    width: 23px;
    height: 17px;
    position: absolute;
    top: -10px;
    right: 41px;
    background-size: contain;
  }
  h2#hires::before {
    content: "";
    width: 53%;
    height: 3px;
    background: #fe8a01;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  .devloper_section .para-22-1 {
    font-size: 13px !important;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
  }
  .tabelcontent {
    border-radius: 15px;
  }
  .text-1 {
    font-size: 16px;
    line-height: 92%;
    font-weight: 600;
  }
  .size {
    font-weight: 500;
    font-size: 14px;
  }
  ul li {
    white-space: nowrap !important;
  }
  .lngimg {
    width: 22rem;
    transform: translate(250px, 45px);
  }
}
.devloper_section .threeLine_img2-1 {
  transform: translate(-36%, -60%);
}
.three_dot {
  width: 22.2px;
  height: 26.44px;
}
@media (min-width: 1300px) and (max-width: 1500px) {
  .grey-line::before {
    left: 5%;
  }
  .grey-line::after {
    right: 5%;
  }
}
@media (min-width: 1300px) and (max-width: 1700px) {
  .banner_head {
    font-size: 23px;
  }
  .Custom_texthead {
    font-size: 20px;
  }
  .management_BoxParentFont,
  .zick_zackBoxParent {
    font-size: 22px;
  }
  .languages_divParent,
  .sub_HeadingText {
    font-size: 18px;
  }
  .lngimg {
    transform: translate(34rem, 2rem);
    width: 44%;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .Custom_texthead,
  .banner_head,
  .sub_HeadingText {
    font-size: 13px;
  }
  section .content_outer_box2-1 h1 {
    line-height: 36.92px;
  }
  .product_img img {
    width: 100%;
  }
  .service-section-row2 .service-content2 h2 {
    line-height: 29.04px;
  }
  .zick_zackBoxParent {
    font-size: 16px;
  }
  .product_section h2 {
    line-height: 32.04px;
  }
  .grey-line::before {
    left: 7%;
  }
  .grey-line::after {
    right: 7%;
  }
  .management_BoxParentFont {
    font-size: 15px;
  }
  .languages_divParent {
    font-size: 12px;
  }
  .service-section-row2 .service-content2 p {
    line-height: 31px;
  }
  .language-section h5 {
    line-height: 21.2px;
  }
  .language-section ul li {
    line-height: 17.28px;
  }
  .lngimg {
    transform: translate(398px, 35px) !important;
    width: 24rem !important;
  }
  .language_img {
    width: 43rem;
    transform: translate(-23rem, -22rem);
  }
  .language_img1 {
    position: absolute;
    top: 0;
    left: 183px;
    bottom: 0;
    right: 0;
    transform: translate(12.5rem, -30rem);
    z-index: -1;
    width: 45rem;
  }
}
@media (min-width: 1150px) and (max-width: 1500px) {
  .remove_padding_12_15 {
    padding: 0 !important;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .lngimg {
    width: 21rem !important;
    transform: translate(270px, -7px) !important;
  }
  .linear-gradient-mobile {
    border-radius: 30px;
    z-index: 111;
  }
  .qualitystyle2-1 h5 {
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0;
    text-align: center;
    font-size: 14px;
  }
  .product_img img {
    width: 100%;
  }
  .banner_head {
    font-size: 12.5px;
  }
  section .content_outer_box2-1 h1 {
    line-height: 28.92px;
  }
  .Custom_texthead {
    font-size: 11.5px;
  }
  .service-section-row2 .service-content2 h2 {
    line-height: 24.04px;
  }
  .service-section-row2 .service-content2 p {
    line-height: 20px;
    width: 100%;
  }
  .management_BoxParentFont,
  .zick_zackBoxParent {
    font-size: 13px;
  }
  .product_section h2 {
    line-height: 27.04px;
  }
  .sub_HeadingText {
    font-size: 11px;
  }
  .languages_divParent {
    font-size: 10px;
  }
  .language-section h5 {
    line-height: 22.2px;
  }
  .language-section ul li {
    line-height: 11.28px;
  }
  .language_img {
    width: 100%;
    transform: translate(-379px, -244px);
  }
  .language_img1 {
    position: absolute;
    top: 0;
    left: 183px;
    bottom: 0;
    right: 0;
    transform: translate(21.5rem, -32rem);
    z-index: -1;
    width: 82%;
  }
  .company_services p {
    font-size: 10px !important;
    line-height: 18px !important;
  }
  .qualitystyle2-1 p {
    line-height: 15px;
    font-size: 9px !important;
  }
  .grey-line::before {
    left: 6.5%;
  }
  .grey-line::after {
    right: 6.5%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .img_box img {
    width: 100%;
    height: 75px;
  }
  .about .banner-heading {
    line-height: 20px !important;
    font-size: 18px !important;
  }
  .about .sub_banner_heading {
    line-height: 14px !important;
  }
  .qualitystyle2-1 h5 {
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0;
    text-align: center !important;
    font-size: 12px;
  }
}
.custom_img-service {
  z-index: -11 !important;
  height: 100% !important;
  width: 102% !important;
  border-radius: 30px !important;
}
.image_col {
  z-index: -1111;
}
.banner-heading2 {
  font-size: 30px;
  line-height: 30.6px;
  font-weight: 500;
  color: #fff;
}
.line_services_breaks {
  height: 2.5px;
  background-color: #000;
}
@media only screen and (min-width: 1720px) {
  .custom_img-service {
    z-index: -11 !important;
    height: 96% !important;
    width: 102% !important;
    border-radius: 30px !important;
  }
}
@media (min-width: 350px) {
  .custom-container-mob {
    margin: 0 8px;
  }
}
.front_end_size {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.add_all_launguage {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
.about .banner-heading,
.fw-bold {
  font-weight: 700 !important;
}
img.service_img_mlti {
  width: 6rem;
  height: 6rem;
}
.nav-item a,
.navbar {
  color: #000;
}
a {
  color: var(--bs-link-color);
  text-decoration: underline;
}
*,
::after,
::before {
  box-sizing: border-box;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .add_all_launguage {
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
  }
  .front_end_size {
    font-size: 15px;
    font-weight: 700;
    line-height: 10px;
  }
  .padding_add_front {
    padding: 1rem 0 !important;
  }
  .remove_margin_top_all_lang {
    margin: 0 !important;
  }
}
.multiple_test {
  font-size: 11px;
  line-height: 15px;
  font-weight: 400 !important;
}
.about .banner-heading {
  font-style: normal;
  line-height: 30px !important;
  font-size: 1.5em !important;
}
.about .sub_banner_heading {
  font-size: 1em !important;
  color: #000;
  font-weight: 400;
  line-height: 18px !important;
}
