.main-div {
  overflow: hidden;
}
.background-img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
}
.backColor {
  background-color: #f1f3f7;
}
img.retail-img1 {
  width: 5rem;
}
.left-icon img {
  width: 3rem;
}
.forh4Heading h4 {
  font-size: 1rem;
}
.custom_widthImg {
  height: 4.5rem;
  object-fit: scale-down;
}
.heigth_customImg {
  height: 26rem;
  object-fit: scale-down;
}
.para_HeadingText {
  font-size: 1.04em;
  font-weight: 500;
  line-height: 115%;
}
@media (max-width: 468px) {
  .background-img {
    height: 31rem;
    background-position: center;
  }
}
@media (min-width: 1400px) {
  .container-xl {
    max-width: 1626px !important;
  }
}
.width {
  width: 100%;
}
.content_outer_box {
  bottom: 0;
  top: 0;
  color: #fff;
}
.content,
.content_inner-row {
  height: -webkit-fill-available;
}
section .content_outer_box h1 {
  font-size: 30px !important;
  line-height: 85%;
  color: #fff;
}
section .sub-banner-heading {
  line-height: 100%;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
}
.retailFeat_box img {
  width: 80px;
}
.para_HeadingTex {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.paraGrap_text {
  font-weight: 400 !important;
  font-size: 17px !important;
  line-height: 24px !important;
}
.sec_1 .heading span {
  font-size: 18px;
  font-weight: 600;
  background: #f97a01;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fff;
  padding: 4px 14px;
}
.sec_1 .heading h2,
.sec_2 .heading h2 {
  font-size: 25px !important;
  font-weight: 600;
  line-height: 98%;
}
.sec_1 p,
.sec_2 p {
  font-size: 17px !important;
  font-weight: 500;
  line-height: 24px;
}
.financial_services h6 {
  font-size: 17px;
  font-weight: 600;
}
.bordr_btm {
  border-bottom: 3px solid #000;
}
.sec_2 h6 {
  font-size: 17px;
  font-weight: 500;
}
.section_3 .sec_2_heading h2 {
  font-size: 54px;
  font-weight: 600;
}
.section_3 .sec_2_heading p {
  font-size: 24px;
  font-weight: 500;
  width: fit-content;
  line-height: 26px;
}
.section_9 h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 98%;
}
.section_9 p {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}
.section_3 h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.width_h {
  width: 84%;
}
.section_3 .arrow_img {
  width: 16rem;
}
.font_headingText_retail,
.paraGrap_heading {
  font-size: 20px;
}
.custom_width_retail {
  height: 4rem;
  width: 100%;
  object-fit: scale-down;
  transform: translate(30px, 16px);
}
@media only screen and (max-width: 768px) and (min-width: 360px) {
  .hero-img {
    height: 9rem;
  }
  .width22 {
    width: 46px;
    height: 40px;
  }
  .width {
    width: 100%;
    border-radius: 12px;
  }
  .custom_widthImg {
    width: 25px !important;
    transform: translate(19px, -4px);
  }
  .custom_width,
  .custom_width_retail,
  .mobile_width {
    width: -webkit-fill-available;
  }
  section .content_outer_box h1 {
    font-size: 16px !important;
    padding-top: 25px;
  }
  section .sub-banner-heading {
    font-size: 12px;
    color: #000;
  }
  .sec_1 .heading span {
    font-size: 13.9px;
    border-radius: 0 30px 30px 0;
    padding: 1.5px 14px;
  }
  .sec_1 .heading h2,
  .sec_2 .heading h2 {
    font-size: 12.8px !important;
    font-weight: 600;
    list-style: outside;
  }
  .sec_1 p,
  .sec_2 p {
    font-size: 10px !important;
    font-weight: 500;
    line-height: 100% !important;
  }
  .financial_services h6,
  .social_shareFont {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
  }
  .img1-9 img {
    width: 38px;
  }
  .financial_services::before {
    display: none !important;
  }
  .para-s p {
    word-spacing: normal !important;
    font-weight: 400;
  }
  .sec_2 h6 {
    font-size: 9.5px;
    line-height: 125.5%;
  }
  .section_3 .arrow_img {
    width: 16rem;
  }
  .img1-12 img {
    width: 8rem;
  }
  .img1-13 img {
    width: 19rem;
  }
  .section_3 h3 {
    font-size: 12px !important;
    line-height: 0.62px;
  }
  .section_3 p {
    font-weight: 500 !important;
    font-size: 10px !important;
    line-height: 18px;
    text-align: justify;
  }
  .section_9 h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 111.5%;
  }
  .section_9 p {
    font-weight: 400;
    font-size: 10px !important;
    line-height: 18px;
  }
  .img1-15 img {
    width: 77%;
  }
  .mobile_headText {
    font-weight: 700 !important;
    font-size: 12.8px !important;
    line-height: 111.5%;
  }
  .mobile_ParaText {
    font-weight: 500;
    font-size: 13px;
    line-height: 98%;
  }
  .fw_600 {
    font-weight: 600 !important;
  }
  .para_HeadingTex {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
  .paraGrap_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  .mobile_bgColor {
    background: #e3e7f0;
    border-radius: 10px;
  }
  .retailIndustry_container .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/mobileCurveImg.png");
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(-29.5px, -8px);
  }
  .retailIndustry_containerSec .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/mobileCurve2.png");
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(236.5px, -152px);
  }
  .heigth_customImg {
    height: 13rem;
    object-fit: scale-down;
  }
  .para_HeadingText_retail {
    font-weight: 400 !important;
    font-size: 11px !important;
    line-height: 15px !important;
  }
  .custom_width_retail {
    height: 3rem;
    object-fit: scale-down;
    transform: translate(16px, 2px);
  }
}
.last_section .curve_img {
  transform: translate(-5px, -104px);
  width: inherit;
  z-index: -1;
}
@media (min-width: 361px) and (max-width: 767px) {
  .retailIndustry_containerSec .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/mobileCurve2.png");
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(215.5px, -150px);
  }
  .retailIndustry_container .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/mobileCurveImg.png");
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(10.5px, -11px);
  }
}
@media (min-width: 1300px) and (max-width: 1900px) {
  .font_headingText_retail {
    font-size: 16px;
  }
  /* img.width22 {
    height: 2.5rem;
  } */
  .paraGrap_heading {
    font-size: 17px !important;
  }
  section .content_outer_box h1 {
    font-size: 30px !important;
    line-height: 85%;
    padding-bottom: 69px;
    color: #fff;
  }
  .retailFeat_box img {
    width: 12em;
  }
  .retailIndustry_container .retailFeat_box:nth-child(3)::after {
    content: url("https://rowthtech.s3.amazonaws.com/retailCurveImg.png");
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(232.5px, -68px);
  }
  .retailIndustry_containerSec .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/retail2CurveImg.png");
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(-224.5px, -10px);
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .font_headingText_retail {
    font-size: 12px;
  }
  .paraGrap_heading {
    font-size: 12px !important;
  }
  section .content_outer_box h1 {
    font-size: 22px !important;
    line-height: 85%;
    color: #fff;
    padding-bottom: 45px;
  }
  section .sub-banner-heading {
    line-height: 100%;
    font-size: 18px !important;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
  }
  .retailFeat_box img {
    width: 9.5rem;
  }
  .retailIndustry_container .retailFeat_box:nth-child(3)::after {
    content: url("https://rowthtech.s3.amazonaws.com/rightlayerimg.png");
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(228.5px, -52px);
  }
  .retailIndustry_containerSec .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/leftcurveimg.png");
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(-229.5px, -17.5px);
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .font_headingText_retail {
    font-size: 10px;
  }
  .paraGrap_heading {
    font-size: 12px !important;
  }
  .retailFeat_box img {
    width: 100px;
  }
  section .content_outer_box h1 {
    font-size: 20px !important;
    line-height: 85%;
    color: #fff;
    padding-top: 29px;
    padding-bottom: 24px;
  }
  section .sub-banner-heading {
    line-height: 96%;
    font-size: 18px !important;
  }
  .custom_widthImg {
    width: 35px !important;
    transform: translateY(-13px);
  }
  .retailIndustry_container .retailFeat_box:nth-child(2)::before {
    content: url("https://rowthtech.s3.amazonaws.com/leftcurveimg.png");
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    transform: translate(-113px, -7px);
  }
  .retailIndustry_containerSec .retailFeat_box:nth-child(2)::before {
    content: url("https://rowthtech.s3.amazonaws.com/rightlayerimg.png");
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transform: translate(11em, -33px);
  }
}
@media only screen and (min-width: 1901px) {
  .retailIndustry_container .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/mobileCurveImg.png");
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translate(3rem, -20px);
  }
  .retailIndustry_containerSec .retailFeat_box:first-child::after {
    content: url("https://rowthtech.s3.amazonaws.com/mobileCurve2.png");
    position: absolute;
    right: 0;
    z-index: -1;
    transform: translate(57rem, -41px);
  }
}
