.blogHeadSocial {
  list-style: none;
  height: 40px;
}

.blogHeadSocial .img {
  width: 30px;
}
.blogHeadSocial .share{
  width: 40px;
}
.blogHeadSocial img:hover {
  width: 35px;

}

.main_lines {
  cursor: pointer;
  border-top: 1px solid rgba(34, 23, 99, 0.1);
  border-bottom: 1px solid rgba(34, 23, 99, 0.1);
}

.for_images img{
 max-width: 100% !important;
}
.maian_cotainer_shuffel{
  min-height: 100vh !important;
}
.image_readmore{
  width: 100%;
  min-height: 18rem !important;
}

@media (min-width: 230px) and (max-width: 676px) {
  .image_readmore{
    background-color: #f5f5f5;
    min-height: 11rem !important;
  }
}