body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li {
  text-wrap: wrap !important;
  overflow-x: hidden !important;
}

.min_hieght_aviod {
  min-height: 35rem !important;
}

@media (min-width:200px) and (max-width:567px){
  .min_hieght_aviod {
    min-height: 6rem !important;
  }
}