.banner-heading61,
.org_tex33,
.org_tex333 {
  font-family: poppins;
  font-weight: 700;
  line-height: 35px;
  color: #000;
}
.banner-heading61 {
  font-style: normal;
  font-size: 1.5em;
}
.sec_25 .heading1 h2 {
  font-size: 54px;
  font-weight: 600;
  margin-top: 43px;
}
.sec_25 h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 70%;
}
.org_tex33 {
  border-bottom: 7px solid #f97a04;
  font-size: 30px;
}
.org_tex333 {
  font-size: 30px;
  border-bottom: 7px solid #f97a04 !important;
}
.foodheading h3,
.foodsheading h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
.foodheading p,
.inner_phara_content12,
.inner_phara_content21 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: justify;
}
.food33 h5,
.food34 h5 {
  font-size: 30px;
  font-weight: 600;
}
.rectanglefood:before {
  background-color: #efefef;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  position: absolute;
  z-index: -1;
  width: 117%;
  transform: translateX(-4%);
  top: -51px;
  bottom: 0;
}
.rectfood2:after {
  content: "";
  background-color: #f5f5f5;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  z-index: -1;
  width: 230%;
  transform: translateX(-52%);
  top: 15px;
  bottom: 36px;
}
.food33 h5 {
  line-height: 100%;
}
.box1_heading {
  font-size: 48px;
}
.food34 h5 {
  line-height: 37.2px;
}
.rectfood4::before {
  background-color: none;
}
.sec_25 h3 span {
  font-size: 0.9em !important;
  font-weight: 600;
  background: #f97a01;
  border-radius: 30px;
  color: #fff;
  line-height: 26px;
}
.object_fit {
  object-fit: scale-down;
}
.left_imageWork {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) and (min-width: 360px) {
  .banner-heading61 {
    font-weight: 700;
    font-size: 19px;
    line-height: 98%;
  }
  .mobile_headText,
  .org_tex333 {
    font-size: 18px;
  }
  .bghight {
    height: 12rem;
  }
  .banner-heading61,
  .org_tex33,
  .org_tex333 {
    line-height: 22px;
  }
  .sub_banner_heading {
    font-size: 13px !important;
    line-height: 98% !important;
    font-weight: 500;
  }
  .foodheading h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 98.5%;
  }
  .foodheading p,
  .inner_phara_content12,
  .inner_phara_content21 {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: justify;
  }
  .foodheading p,
  .inner_phara_content12 {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: justify;
  }
  .rectanglefood::before {
    background: 0 0;
  }
  .rectanglefood22::after {
    content: "";
    background-color: #efefef;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    z-index: -1;
    width: 107%;
    transform: translateX(0);
    top: 0;
    bottom: 0;
  }
  .rectfood2:after,
  .rectfood4::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 109%;
    transform: translatex(-11%);
    bottom: 0;
  }
  .box1_heading {
    font-size: 24px;
  }
  .rectfood4::before {
    background-color: #efefef;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    top: -25px;
  }
  .rectfood2:after {
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    top: 0;
  }
  .sec_25 .approch span {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    background: #f97a01;
    color: #fff;
    border-radius: 0 30px 30px 0 !important;
  }
  .foodsheading h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 98.5%;
  }
  .electronic h5,
  .heading_ParentFont_food {
    font-size: 20px;
  }
  .electronic h5 {
    line-height: 111.5%;
  }
}
.para_HeadingText {
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 24px;
}
.heading_ParentFont_food {
  font-size: 13px;
}
@media (min-width: 1300px) and (max-width: 1900px) {
  .heading_ParentFont_food {
    font-size: 17px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  .heading_ParentFont_food {
    font-size: 13px;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .heading_ParentFont_food {
    font-size: 9px;
  }
}
